#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1
}

#modalwindow {
  width: 1200px;
  height: 600px;
  position: fixed;
  background-color: #FFF;
  display: none;
  z-index: 2;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#modalwindow img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
