.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h3 {
  height: 30px;
  font-size: 30px;
  margin: 0;
}

#next {
  float: left;
}

#prev {
  float: right;
}

input {
  color: #333;
  background-color: #fff;
  border-style: none;
  text-decoration: underline;
}
input:hover {
  color: #400;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

th, td {
  font-size: 10px;
  width: 35px;
}

th {
  height: 20px;
}

td {
  border: solid 1px;
  height: 55px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

a {
  display: block;
  text-decoration: none;
  height: inherit;
  color: #000;
}

a:hover {
  background-color: #d6eaff;
}

.sun {
  color: #f00;
}

td.today {
  background-color: #eaffd6;
}
